# DataFrame'lerin multiindex ile gruplanması

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
outerIndex = ["Group1","Group1","Group1","Group2","Group2","Group2","Group3","Group3","Group3"]

In [3]:
innerIndex = ["Index1","Index2","Index3","Index1","Index2","Index3","Index1","Index2","Index3"]

In [4]:
# zip ile demet şeklinde birleştirme yapabiliyoruz.

In [5]:
list(zip(outerIndex,innerIndex))

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [7]:
hi = list(zip(outerIndex,innerIndex))
hi = pd.MultiIndex.from_tuples(hi)

In [8]:
hi

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [9]:
df = pd.DataFrame(randn(9,3),hi,columns = ["A","B","C"])
df

                      A         B         C
Group1 Index1 -1.169962 -1.043647  0.047114
       Index2 -1.246128  0.889024 -2.457309
       Index3 -0.733757  1.345982 -0.639646
Group2 Index1  0.538556  0.329624 -1.875286
       Index2  0.057837  0.918757  0.104299
       Index3 -0.482187 -2.348443 -0.949449
Group3 Index1  1.316031  0.727311 -0.136721
       Index2  0.240149 -0.088559 -0.120324
       Index3  0.775475  0.907580  1.354074

In [10]:
df["A"]

Group1  Index1   -1.169962
        Index2   -1.246128
        Index3   -0.733757
Group2  Index1    0.538556
        Index2    0.057837
        Index3   -0.482187
Group3  Index1    1.316031
        Index2    0.240149
        Index3    0.775475
Name: A, dtype: float64

In [11]:
df.loc["Group1"]

               A         B         C
Index1 -1.169962 -1.043647  0.047114
Index2 -1.246128  0.889024 -2.457309
Index3 -0.733757  1.345982 -0.639646

In [12]:
df.loc[["Group1","Group2"]]

                      A         B         C
Group1 Index1 -1.169962 -1.043647  0.047114
       Index2 -1.246128  0.889024 -2.457309
       Index3 -0.733757  1.345982 -0.639646
Group2 Index1  0.538556  0.329624 -1.875286
       Index2  0.057837  0.918757  0.104299
       Index3 -0.482187 -2.348443 -0.949449

In [13]:
df.loc["Group1"].loc["Index1"]

A   -1.169962
B   -1.043647
C    0.047114
Name: Index1, dtype: float64

In [14]:
df.loc["Group1"].loc["Index1"]["A"]

-1.1699621966341731

In [15]:
df.index.names = ["Groups","Indexes"]

In [16]:
df

                       A         B         C
Groups Indexes
Group1 Index1  -1.169962 -1.043647  0.047114
       Index2  -1.246128  0.889024 -2.457309
       Index3  -0.733757  1.345982 -0.639646
Group2 Index1   0.538556  0.329624 -1.875286
       Index2   0.057837  0.918757  0.104299
       Index3  -0.482187 -2.348443 -0.949449
Group3 Index1   1.316031  0.727311 -0.136721
       Index2   0.240149 -0.088559 -0.120324
       Index3   0.775475  0.907580  1.354074

# xs() ile Sorgulama

In [17]:
df

                       A         B         C
Groups Indexes
Group1 Index1  -1.169962 -1.043647  0.047114
       Index2  -1.246128  0.889024 -2.457309
       Index3  -0.733757  1.345982 -0.639646
Group2 Index1   0.538556  0.329624 -1.875286
       Index2   0.057837  0.918757  0.104299
       Index3  -0.482187 -2.348443 -0.949449
Group3 Index1   1.316031  0.727311 -0.136721
       Index2   0.240149 -0.088559 -0.120324
       Index3   0.775475  0.907580  1.354074

In [18]:
df.xs("Group1")

                A         B         C
Indexes
Index1  -1.169962 -1.043647  0.047114
Index2  -1.246128  0.889024 -2.457309
Index3  -0.733757  1.345982 -0.639646

In [19]:
df.xs("Group1").xs("Index1")

A   -1.169962
B   -1.043647
C    0.047114
Name: Index1, dtype: float64

In [20]:
df.xs("Group1").xs("Index1").xs("A")

-1.1699621966341731

In [20]:
#level belirterek içeriden de gezebiliriz.

In [21]:
df

                       A         B         C
Groups Indexes
Group1 Index1  -1.169962 -1.043647  0.047114
       Index2  -1.246128  0.889024 -2.457309
       Index3  -0.733757  1.345982 -0.639646
Group2 Index1   0.538556  0.329624 -1.875286
       Index2   0.057837  0.918757  0.104299
       Index3  -0.482187 -2.348443 -0.949449
Group3 Index1   1.316031  0.727311 -0.136721
       Index2   0.240149 -0.088559 -0.120324
       Index3   0.775475  0.907580  1.354074

In [22]:
df.xs("Index1", level = "Indexes")

               A         B         C
Groups
Group1 -1.169962 -1.043647  0.047114
Group2  0.538556  0.329624 -1.875286
Group3  1.316031  0.727311 -0.136721